@font-face {
  font-family: 'iconfont';  /* Project id 3356530 */
  src: url('//at.alicdn.com/t/font_3356530_lkggytitif.woff2?t=1650980762460') format('woff2'),
       url('//at.alicdn.com/t/font_3356530_lkggytitif.woff?t=1650980762460') format('woff'),
       url('//at.alicdn.com/t/font_3356530_lkggytitif.ttf?t=1650980762460') format('truetype');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 0.16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  